<div class="border-buttom row" style="margin-bottom: 16px;padding-bottom: 8px;">
    <div class="col-10">
        <h4 style="color: rgb(120, 120, 120); margin-bottom: 4px;">
            {{job['title']}}
        </h4>
        {% if 'salary' in job %}
            <div>
                <b>Salary: </b>{{job['salary']}} {{job['currency']}}
            </div>
        {% endif %}
    </div>
    <div class="col-2">
        <a class="btn btn-outline-info float-right align-middle" href="/job/{{job['id']}}/apply">
            Apply Now!
        </a>
        <br><br>
        <a class="btn btn-outline-info float-right align-middle" href="/job/{{job['id']}}">
            More Detail
        </a>
    </div>
</div>