  <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow-sm fixed-top" aria-label="Fourth navbar example">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="/my-notes">My Notes</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="/upload-note">Upload-Note</a>
          </li>
          <li>
            <a class="nav-link active" aria-current="page" href="/plans">Plans</a>
          </li>
        </ul>
        <div>
          <form role="search" class="row g-3" style="margin-left: 10px;" action="/search"  method="post">
            <div class="text-center">
              <input class="form-control" type="search" name="job_name" placeholder="Search in your notes.." aria-label="Search">
            </div>
            <div class="text-center" style="margin-left: 10px;">
              <button type="submit" class="btn btn btn-success" name="search">Search</button>
            </div>
          </form>
        </div>
      </div>
      <a href="/sign-up" type="button" class="btn btn-success " style="float: right;">Sign Up</a>
      <a href="/login" type="button" class="btn btn-dark "  style="float: right;margin-left: 30px;">Login</a>
    </div>
  </nav>
